
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner{
  background-color: #fef000;
  height: 60vh;
  margin: 1rem;
}
.keyboard{
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.keys{
  margin: 0rem 0.5rem 0rem 0rem;
  height: 6.5rem;
  width: 2rem;
}
.keys:last-child {
  margin: 0 0rem 0 0;
} 
.keys:nth-child(odd)
{
    color: white;
    background-color: black;
}
.keys:nth-child(even)
{ 
  color: black;
  background-color:white;
}
.logo{
  border-radius: 50% 0% 50% 50%;
  width: 3rem;
}